* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Verdana,Arial,Helvetica,sans-serif
}

html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

a:hover {
	text-decoration: underline;
	color: #F00;
}

img {
	border: none;
}

ul li {
	text-align: center;
	list-style: none
}

.line {
	clear: both;
	display: block;
	margin: 6px 0;
	height: 1px;
	overflow: hidden;
}

span a {
	color: #000000
}

p a:hover,span a:hover {
	color: #F00
}

.kill {
	height: 0px;
	overflow: hidden;
	display: block;
	clear: both;
}

.sp04 {
	height: 5px;
}

#weather {
	width: 500px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	background: none
}

.bbla-title {
	font-size: 12px;
	line-height: 25px;
	text-indent: 30px;
	margin: 0 0 5px 0;
	font-weight: bold
}

.bbla-banner {
	font-size: 12px;
	zoom: 1;
	background: rgba(255,255,255,0.5) none repeat scroll 0 0 !important;
	filter: Alpha(opacity=60);
	background: #fff;
}

.bbla-banner div {
	width: 98%;
	margin: 0 auto;
	height: 34px;
	line-height: 34px;
	padding: 3px 5px 0;
	overflow: hidden;
	position: relative;
}

.banleft#package {
	float: left;
	width: 540px;
	overflow: hidden;
	height: 29px;
	padding: 1px 0 0 24px;
	position: relative;
}

.banleft#package span {
	display: block;
	height: 28px;
	font: normal 12px/30px "宋体";
	text-align: left;
}

.banleft#package a:hover {
	text-decoration: none;
}

.banleft#package span b {
	cursor: pointer;
	color: #454545;
}

.banleft#package a#togicon {
	display: block;
	height: 16px;
	width: 16px;
	background: url("../images/bblabg.gif") no-repeat -70px -64px;
	cursor: pointer;
	left: 3px;
	top: 9px;
	position: absolute;
}

.banleft#package a#togicon:hover {
	background-position: -70px -82px;
}

.banright {
	float: right;
}

.banright a {
	padding: 0 5px 0 4px;
	color: #000000;
	cursor: pointer;
}

.banright a:hover {
	color: #FF0000;
}

.banright a#cgpifu {
	padding: 0 0 0 25px;
	background: url("../images/bblabg.gif") no-repeat -113px 2px;
}

.banright a#sethome {
	padding: 0 4px 0 20px;
	background: url("../images/bblabg.gif") no-repeat 1px 2px;
}

.banright a#bblacn {
	padding: 0 4px 0 24px;
	background: url("../images/bblabg.gif") no-repeat -197px 2px;
}

.bbla-style {
	background: #fff;
	border-bottom: 1px solid #eee;
	display: none;
}

.bbla-instyle {
	width: 938px;
	margin: 0 auto;
	height: auto;
	padding: 22px 0;
	font-size: 12px;
}

.bbla-instyle div {
	height: 20px;
	line-height: 20px;
	padding: 0 0 10px 0;
}

.bbla-instyle div b {
	font-weight: normal;
}

.bbla-instyle div a {
	cursor: pointer;
	padding: 0 0 0 3px;
}

.bbla-instyle div.stycolor {
	height: 20px;
}

.bbla-instyle div.stybg {
	height: 40px;
}

.bbla-instyle input {
	padding: 2px 8px 0;
}

.bbla-top {
	height: 110px;
	width: 670px;
	margin: 0 auto;
}

#search {
	width: 532px;
	float: left;
	padding: 11px 0 0 0;
}

#search #sbimg {
	float: left;
	width: 160px;
	height: 90px;
	display: none;
}

#search #sbmclass {
	height: 25px;
	overflow: hidden;
	margin-bottom: -1px;
	position: relative;
	z-index: 1001;
}

#search #sbmclass ul {
	padding: 0px 0px 0px 20px
}

#search #sbmclass li {
	float: left;
	width: 51px;
}

#search #sbmclass ul li a {
	font-size: 14px;
	color: #101010;
	cursor: pointer;
	padding: 2px 0 0 1px;
	display: block;
	height: 22px;
	line-height: 20px
}

#search #sbmclass ul li a.cur {
	text-decoration: none;
	height: 23px;
	font: normal 14px/20px verdana;
	padding-top: 1px;
}

#search #sbmain {
	background: url("../images/searchshadow.png") no-repeat;
	_background: none;
	background-position: 0 61px;
	position: relative;
	z-index: 888;
}

#search #sbmain #sbse {
	padding: 1px 0 0 1px;
	height: 35px;
	width: 524px;
	position: relative;
}

#search #sbmain #sbse span {
	display: block;
	float: left;
	overflow: hidden
}

#search #sbmain #sbse span.sbsetext {
	height: 32px;
	width: 424px;
	position: relative;
}

#search #sbmain #sbse span.sbsetext .se_text {
	position: absolute;
	width: 416px;
	font-size: 14px;
	outline: none;
	padding: 1px 0 0 8px;
	height: 32px;
	line-height: 32px;
	color: #161616;
	border: 0;
	background: #fff url("../images/bblabg.gif") no-repeat 0 -130px;
}

#search #sbmain #sbse span .se_button {
	width: 96px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	margin: 0px 0 0 1px;
	background: #e2e2e2 url("../images/4c929964tw1ei5nxgnux6g20hk0dpq3d.gif") no-repeat 0 -20px;
	border: none;
	cursor: pointer;
}

#search #sbmain #sbmkeys {
	padding: 6px 0 0 20px;
	height: 27px;
	line-height: 20px;
}

#search #sbmain #sbmkeys input {
	margin: 3px 1px 0 0;
	position: relative;
	top: 1px;
	left: -2px;
}

#search #sbmain #sbmkeys label {
	padding: 0 24px 0 0;
	font-size: 12px
}

#search #sbmain #shtnews {
	position: absolute;
	left: 391px;
	top: 29px;
	width: 34px;
	height: 28px;
	cursor: pointer;
	background: #aaa;
	z-index: 1002;
	background: url("../images/4c929964tw1ei5nxgnux6g20hk0dpq3d.gif") no-repeat 4px -70px;
	_display: none;
}

#search #sbmain #hotnews {
	position: absolute;
	left: 0;
	top: 61px;
	border: 1px solid #666;
	padding: 2px 2px 3px;
	z-index: 9999;
	background: #fff;
	width: 422px;
	display: none;
}

#search #sbmain #hotnews ul li {
	text-align: left;
}

#search #sbmain #hotnews ul li a {
	display: block;
	font: normal 14px/26px verdana;
	cursor: pointer;
	color: #000;
	height: 26px;
	overflow: hidden;
	padding: 0 0 0 34px;
}

#search #sbmain #hotnews ul li a:hover {
	text-decoration: none;
	color: #e00;
}

#search #sbmain #hotnews span {
	position: absolute;
	width: 20px;
	height: 278px;
	left: 10px;
	top: 7px;
	float: left;
	display: block;
	background: url("../images/bblabg.gif") no-repeat -39px -170px;
}

#search #sbmain #hotnews b {
	position: absolute;
	width: 100px;
	height: 27px;
	background: url("../images/bblabg.gif") no-repeat -72px -420px;
	right: 17px;
	top: 156px;
}

#shine {
	height: 30px;
	overflow: hidden;
	float: left;
	margin: 38px 0 0 18px;
}

#shine ul li {
	height: 30px;
	font: normal 12px/30px verdana;
	text-align: left;
}

#shine ul li a {
	color: #d00;
}

#shine ul li a:hover {
	color: #f00;
	text-decoration: underline;
}

#anniu {
	width: 36px;
	position: fixed;
	_position: absolute;
	right: 6px;
	top: 223px;
	z-index: 999;
}

#anniu ul li {
	*height: 40px;
}

#anniu ul li a {
	display: block;
	height: 34px;
	cursor: pointer;
	background-image: url("../images/bblabg.gif");
	overflow: hidden;
}

#anniu ul li.shuo a {
	background-position: -131px -64px;
}

#anniu ul li.jia a {
	background-position: -93px -64px;
}

#anniu ul li a#totop {
	background-position: -208px -65px;
}

#anniu ul li a#tomore {
	background-position: -170px -65px;
}

#anniu ul li.jia div {
	display: none;
	background: url("../images/bblabg.gif") no-repeat 0 -171px;
	height: 196px;
}

#anniu ul li.jia div a {
	border: none;
	background: none;
	display: block;
	height: 36px;
	margin: 0;
}

#bottom {
	height: 88px;
	margin: 10px auto 0;
	width: 720px
}

#bottom p {
	text-align: center;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	color: #fff
}

#bottom p a {
	padding: 0 5px 0 4px;
	color: #ccc;
}

#mark {
	width: 100%;
	height: 100%;
	_height: 1259px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	_position: absolute;
	background: url("../images/mark.png") repeat;
	z-index: 1999;
	display: none;
	cursor: pointer;
}

#festival {
	height: 540px;
	width: 99%;
	z-index: 2001;
	position: absolute;
	top: 0;
	display: none;
	background: url("../images/2013midautumn.png") no-repeat center bottom;
	cursor: pointer;
}

#shareDiv {
	position: absolute;
	width: 480px;
	height: 80px;
	padding: 30px;
	background: #fff;
	margin: -66px 0 0 -270px;
	left: 50%;
	top: 43%;
	box-shadow: 4px 4px 20px #454545;
	z-index: 2000;
	border-radius: 8px;
	display: none;
}

#shareDiv p {
	font: bold 12px/20px verdana;
	padding: 0 0 10px 4px;
	color: #454545;
}